.album-list-page {
  padding: .5rem;
  background: #1f1f21;
}

.album-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.container {
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .album-list-page {
    display: grid;
    justify-content: center;
  }
}