.review-page {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: center;
  padding-left: 2rem;
  margin-top: 3rem;
  max-width: 85%;
  padding-bottom: 1rem;
}

.title {
  margin: 1rem 0;
}

.review-page > p {
  font-size: 18px;
}

.album-art {
  padding-top: 4rem;
}

.review-content {
  margin-bottom: 2em;
}

@media only screen and (max-width: 575px) {
  .album-art {
    width: 60%
  }
}