.album-reviews-page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.review-list {
  padding: 0;
  list-style-type: none;
  width: 70%;
}

.post-review {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 2rem 0;
}

.review-btn, .listen-btn {
  border: none;
  padding: 12px 14px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.listen-btn {
  background: #1DB954;
  color: #191414;
}